<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur distinctio ducimus natus maxime rem est harum eligendi dolorum obcaecati assumenda, eveniet tempora odio laudantium cumque consequuntur fuga numquam adipisci!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur distinctio ducimus natus maxime rem est harum eligendi dolorum obcaecati assumenda, eveniet tempora odio laudantium cumque consequuntur fuga numquam adipisci!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur distinctio ducimus natus maxime rem est harum eligendi dolorum obcaecati assumenda, eveniet tempora odio laudantium cumque consequuntur fuga numquam adipisci!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>